nav {
  color: white;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid #333;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 10px;
}

nav a:hover {
  text-decoration: underline;
  background-color: #333;
}
