<mat-toolbar color="primary" class="navbar">
  <a class="logo" routerLink="/home">LearnX</a>

  <span class="spacer"></span>

  <!-- Main nav (hidden on small screen if logged in) -->
  <nav class="desktop-menu" *ngIf="!menuOpen || !authService.isLoggedIn()">
    <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
    <a
      mat-button
      routerLink="/learning-resources"
      routerLinkActive="active-link"
      >Learning Resources</a
    >

    <a mat-button routerLink="/quiz" routerLinkActive="active-link">Quiz</a>
    <a mat-button routerLink="/blog" routerLinkActive="active-link">Blog</a>

    <a mat-button routerLink="/login" *ngIf="!authService.isLoggedIn()"
      >Login</a
    >
    <a mat-button routerLink="/signup" *ngIf="!authService.isLoggedIn()"
      >Sign Up</a
    >
    <!-- Hamburger icon only when logged in -->

    <div class="dropdown-menu" *ngIf="authService.isLoggedIn()">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">👤 Profile</button>

        <button mat-menu-item (click)="logout()">🚪 Logout</button>
      </mat-menu>
    </div>
  </nav>
</mat-toolbar>
