.moderator-container,
.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 1.5rem;
  background-color: #1e1e1e;
  color: #e0e0e0;
  position: relative;
  z-index: 20;
}

.header-section {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;

  padding: 0 1rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 4rem;
  }
}
